<html ng-app="astro">
<head>
    <title>Astro Assignment</title>
    <base href="/"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <!-- build:css dist/assets/css/app.min.css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- /build-->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Astro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h4 class="display-3">Astro Assignment</h4>
        </div>
    </div>

    <div class="container" ui-view></div>
</main>

<footer class="container">
    <p>Assignment Created By: Abdul Samad</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<!-- build:js dist/js/vendor/vendor.min.js -->
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="node_modules/angular-filter/dist/angular-filter.js"></script>
<script type="text/javascript" src="node_modules/angular-smart-table/dist/smart-table.js"></script>
<!-- /build-->


<!-- build:js dist/js/app/app.min.js -->
<script type="text/javascript" src="javascripts/frontend/module.js"></script>
<script type="text/javascript" src="javascripts/frontend/controller.js"></script>
<script type="text/javascript" src="javascripts/frontend/routes.js"></script>
<script type="text/javascript" src="javascripts/frontend/config/config.js"></script>
<script type="text/javascript" src="javascripts/frontend/config/constants.js"></script>
<script type="text/javascript" src="javascripts/frontend/services/serverSvc.js"></script>
<script type="text/javascript" src="javascripts/frontend/modules/channels/routes/routes.js"></script>
<script type="text/javascript" src="javascripts/frontend/modules/channels/controllers/indexController.js"></script>
<!-- /build-->
</body>
</html>