<div class="row">

    <table st-table="displayedCollection" st-safe-src="vm.channels" class="table table-striped channelList">
        <thead>
        <tr>
            <th st-sort="channelId" width="10%">Channel ID</th>
            <th st-sort="channelTitle" width="40%">Channel Title</th>
            <th st-sort="channelStbNumber" width="20%">Channel Set Top Box</th>
            <th st-sort="favourite" width="30%">Action</th>
        </tr>
        <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="!vm.channels.length && !vm.error">
            <td class="spinner" align="center" colspan="4">
                <div class="loader"></div>
            </td>
        </tr>
        <tr ng-if="!vm.channels.length && vm.error">
            <td align="center" colspan="4">
                {{vm.error}}
            </td>
        </tr>
        <tr ng-repeat="row in displayedCollection" class="channelRow">
            <td class="action-td" colspan="3">
                <div>
                    <div class="channel-heading"><b>{{row.channelTitle}}</b></div>
                    <div class="channel-desc">{{row.channelDescription}}</div>
                    <br>
                    <div class="channel-desc">{{row.channelLanguage}} - {{row.channelCategory}}</div>
                </div>
            </td>
            <td class="info-td" width="10%">{{row.channelId}}</td>
            <td class="info-td" width="40%"><img ng-src="{{row.channelExtRef[15].value}}" ng-if="row.channelExtRef[15].value"> {{row.channelTitle}}</td>
            <td class="info-td" width="20%">{{row.channelStbNumber}}</td>
            <td colspan="1" width="30%">
                <button type="button" ng-if="!row.favourite" class="btn btn-default"
                        ng-click="vm.updateFavourite(row.channelId)">Mark as Favourite
                </button>
                <button type="button" ng-if="row.favourite" class="btn btn-danger"
                        ng-click="vm.updateFavourite(row.channelId, true)">Remove Favourite
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="20" class="pagination"
                     st-></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<hr>